@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant:wght@300&family=Great+Vibes&family=Playfair+Display+SC:ital,wght@1,900&family=Rubik&family=Staatliches&display=swap');

* {
  box-sizing: border-box;
  outline: none;
  font-size: calc(1vw + 6px);
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

#root {
  color: rgba(45, 25, 45, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  padding: 0;
  min-height: 110vh;
}

#root>h1 {
  font-size: 5vw;
  text-align: center;
  text-decoration: none;
  color: white;
}

.App {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  background-color: #6383AA;
  width: 90vw;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.425);
  border-radius: 0.25rem;
  padding: 1rem;
  margin: 0 0 2rem;
}

/* .App>input {
  width: 40%;
} */

/* .todolist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-width: calc(90vw - 4rem);
}

.todolist>li {
  border: 0.1px solid black;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  margin: 0.15rem 0;
  background-color: lightcyan;
} */

/* .todolist>li .left {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todolist>li>.left input[type="text"] {
  width: 50%;
  height: 2rem;
}

.todolist>li input[type="text"] {
  margin-bottom: 1rem;
}

.todolist>li label {
  display: flex;
  justify-content: center;
  align-items: center;
} */


h1 {
  color: white;
  font-size: calc(1vw + 12px);
}

h4 {
  color: #F9E79F;
  font-size: calc(1vw + 12px);
}

h5 {
  color: #F9E79F;
}

h6 {
  color: #F9E79F;
}

.increase {
  background-color: pink;
  color: black;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}

.decrease {
  background-color: #5499C7;
  color: black;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}

.reset {
  background-color: red;
  color: black;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}

.question {
  background-color: #F9E79F;
  color: #6383AA;
  border-radius: 10px;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}

.reveal {
  background-color: darkblue;
  color: ghostwhite;
  padding: 20px;
  font-family: 'Rubik', sans-serif;
}